<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Movins | Reset password</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          th:href="@{https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap}">
    <script type="text/javascript" th:src="@{../static/js/passwordsConfirmation.js}"></script>
</head>
<body>
<header>
    <div class='user-activation'>
        <div class='correct-200'>
            <h1 class='correct-200__text'>Reset your password</h1>
            <form th:action="@{/users/reset}" method="post"
                  style="max-width: 350px; margin: 0 auto;"
            >
                <input type="hidden" name="token" th:value="${token}"/>
                <div class="border border-secondary rounded p-3">
                    <div>
                        <p>
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="password" autofocus/>
                        </p>
                        <p>
                            <input type="password" class="form-control password-confirmation"
                                   placeholder="confirm password"
                                   oninput="passwordsConfirmation(this);"/>
                        </p>
                        <a th:href="@{http://localhost:3000}">
                            <p class="text-center">
                                <input type="submit" value="change" class="password-confirmation-submit"/>
                            </p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>
<footer class="footer">
    <div class="footer__logo-box">
        <a class='footer__logo-box-text'>
            <h1 class='heading--primary--main'>MOVINS</h1>
        </a>
    </div>
    <div class="row">
        <div class="col span-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item">
                        <p class="footer__link__p">Company</p>
                    </li>
                    <li class="footer__item">
                        <p class="footer__link__p">Carrer</p>
                    </li>
                    <li class="footer__item">
                        <p class="footer__link__p">Privacy</p>
                    </li>
                    <li class="footer__item">
                        <p class="footer__link__p">Terms</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col span-1-of-2">
            <p class="footer__copyright">
                Created by <a href="http://github.com/Jankaz2"
                              target="_blank"
                              class="footer__link">Jan Kaźmierczak</a>, as his own project for
                portfolio.&nbsp;
                <a href="http://github.com/Jankaz2/movins"
                   target="_blank"
                   class='footer__link'>Movins </a> is Spring
                application with fully responsive layout. Every functionality
                has been created by <a href="http://github.com/Jankaz2"
                                       target="_blank"
                                       class="footer__link">Jan Kaźmierczak</a>.<br/>
                Home page layout is inspired by Jonas Schmedtmann online course Advanced CSS and SASS
                where I learned advanced CSS tricks and SASS from.
                <br/>Copyright &copy; by Jan Kaźmierczak.
            </p>
        </div>
    </div>
</footer>
</body>
</html>